# NETWORK
protected-mode yes
bind 0.0.0.0
port 6379
tcp-keepalive 30

# GENERAL
daemonize no
supervised no
loglevel notice
logfile ""

# SNAPSHOTTING
save ""

# ACL
user default off
user {{.username}} +@connection +@read +@write +@transaction +@keyspace allkeys on #{{.passhash}}
