{{ $svc := .Vars.kube.service.name -}}
{{ $svcopts := printf "%s-opts" $svc -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ $svc }}

---
apiVersion: v1
kind: Service
metadata:
  name: {{ $svc }}-internal
spec:
  selector:
    app: {{ $svc }}
  ports:
    - name: minio
      port: 9000
  clusterIP: None

---
apiVersion: v1
kind: Service
metadata:
  name: {{ $svc }}
spec:
  selector:
    app: {{ $svc }}
  ports:
    - name: minio
      port: 9000

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ $svc }}
spec:
  selector:
    matchLabels:
      app: {{ $svc }}
  serviceName: {{ $svc }}-internal
  replicas: 1
  template:
    metadata:
      labels:
        app: {{ $svc }}
        app.kubernetes.io/name: minio
        app.kubernetes.io/instance: {{ $svc }}
        app.kubernetes.io/version: {{ .Vars.kube.service.image.version }}
        app.kubernetes.io/component: {{ .Vars.kube.label.component }}
        app.kubernetes.io/part-of: {{ .Vars.kube.label.partof }}
        app.kubernetes.io/managed-by: anvil
    spec:
      serviceAccountName: {{ $svc }}
      initContainers:
        - name: getpass
          image: {{ .Vars.kube.service.init.image.name }}:{{ .Vars.kube.service.init.image.version }}
          command: ['sh']
          args: ['/home/minio/init.sh']
          env:
            - name: CURL_BACKOFF
              valueFrom:
                configMapKeyRef:
                  name: {{ $svcopts }}
                  key: curlbackoff
                  optional: true
            - name: CURL_REAUTH
              valueFrom:
                configMapKeyRef:
                  name: {{ $svcopts }}
                  key: curlreauth
                  optional: true
            - name: VAULT_ADDR
              valueFrom:
                configMapKeyRef:
                  name: {{ $svcopts }}
                  key: vaultaddr
            - name: VAULT_ROLE
              valueFrom:
                configMapKeyRef:
                  name: {{ $svcopts }}
                  key: vaultrole
            - name: VAULT_KUBE_MOUNT
              valueFrom:
                configMapKeyRef:
                  name: {{ $svcopts }}
                  key: vaultkubemount
            - name: KV_MOUNT
              valueFrom:
                configMapKeyRef:
                  name: {{ $svcopts }}
                  key: kvmount
            - name: KV_PATH
              valueFrom:
                configMapKeyRef:
                  name: {{ $svcopts }}
                  key: kvpath
          volumeMounts:
            - name: config-pass
              mountPath: /etc/miniopass
            - name: init-scripts
              mountPath: /home/minio
      containers:
        - name: minio
          image: {{ .Vars.kube.service.image.name }}:{{ .Vars.kube.service.image.version }}
          command: ['sh']
          args: ['/home/minio/start.sh']
          ports:
            - name: minio
              containerPort: 9000
          volumeMounts:
            - name: data
              mountPath: /var/lib/minio
            - name: start-scripts
              mountPath: /home/minio
            - name: config-pass
              mountPath: /etc/miniopass
          readinessProbe:
            httpGet:
              path: /minio/health/ready
              port: 9000
            initialDelaySeconds: {{ .Vars.kube.service.healthcheck.readiness.delay }}
            periodSeconds: {{ .Vars.kube.service.healthcheck.readiness.period }}
          livenessProbe:
            httpGet:
              path: /minio/health/live
              port: 9000
            initialDelaySeconds: {{ .Vars.kube.service.healthcheck.liveness.delay }}
            periodSeconds: {{ .Vars.kube.service.healthcheck.liveness.period }}
      volumes:
        - name: config-pass
          emptyDir: {}
        - name: init-scripts
          configMap:
            name: {{ $svc }}-init-scripts
        - name: start-scripts
          configMap:
            name: {{ $svc }}-start-scripts
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: {{ .Vars.kube.service.storage.amount }}
