apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: governor
configMapGenerator:
  - name: governor-register-scripts
    files:
      - register.sh
      - _init_lib.sh
  - name: register-governor-opts
    literals:
      - passlen=64
      - curlbackoff=5
      - curlreauth=3
      - vaultaddr=http://vault.vault.svc.cluster.local:8200
      - vaultrole=governor-register-governor
      - vaultkubemount=kubernetes
      - kvmount=kv
      - kvpathsetup=app/governor/governor/setup
      - kvpathtoken=app/governor/governor/token
      - kvpathrsa=app/governor/governor/rsakey
resources:
  - job.yaml
